global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


listen hive2
    bind 0.0.0.0:10000
    mode tcp
    timeout connect  10s
    timeout client   30m
    timeout server   30m
    server srv1 master1.cluster:10000

listen hive2llap
    bind 0.0.0.0:10500
    mode tcp
    timeout connect  10s
    timeout client   30m
    timeout server   30m
    server llapsrv1 master1.cluster:10500


